<h3>Gallery Planner</h3>

{{#if errorExists}}
  <p id="error">{{error}}</p>
{{/if}}

<div id="upload_section">
  <div>
    <form method="POST" action="/upload" enctype="multipart/form-data">

      {{!-- <label id="photoImage" for="photoImage">Link to Photo Image:</label><br>
      <input type="text" id="photoImage" name="photoImage"><br><br> --}}

      <input
        type="file"
        name="file"
        id="input-files"
        class="form-control-file border"
      />

      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="preview-images"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="gallery">
    {{#if photos}}
      {{#each photos}}
        <div 
          class="photo_item_div" 
          id="{{this.name}}"
          draggable="true" ondragstart="drag(event)"
          ondrop="drop(event)" ondragover="allowDrop(event)">
          <img 
            class="photo_item"
            src="{{this.url}}" alt="{{this.name}}"
          >
        </div>
      {{/each}}
    {{else}}
      <p>No Photos Available</p>
    {{/if}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/drag_drop.js"></script>