<div id="sidebar" class="sidebar">
  <a id="sidebar_close">x</a> {{!--  href="javascript:void(0)"  --}}
  <div id="sidebar_contents">
    <p>Hold photos here temporarily:</p>
    <div id="sidebar_photos">
      {{#if sidebar_photos}}
        {{#each sidebar_photos}}
          <div 
            class="sidebar_photo_item_div" 
            id="{{this.name}}"
            draggable="true" ondragstart="drag(event)"
            ondrop="drop(event)" ondragover="allowDrop(event)"
          >
            <img 
              class="sidebar_photo_item"
              src="{{this.url}}" alt="{{this.name}}"
            >
            <p class="sidebar_window_close">X</p>
          </div>
        {{/each}}
      {{else}}
        <p id="sidebar_no_photos"
           ondrop="drop(event)" 
           ondragover="allowDrop(event)">
           Drag photos here
        </p>
      {{/if}}
    </div>
  </div>
</div>

<div id="contents">
  <h3>Gallery Planner</h3>

  {{#if errorExists}}
    <p id="error">{{error}}</p>
  {{/if}}

  <div id="upload_section">
    <form id="upload_form" method="POST" action="/upload" enctype="multipart/form-data"> 
    {{!-- method="POST" action="/upload" --}}

      <input
        type="file"
        name="file"
        multiple
        id="input-files"
        class="form-control-file border"
      />

      <button type="submit">Submit</button>
    </form>
    <div id="preview-images"></div>
  </div>

  <div id="gap_width">
    <form>
      <p>Select layout format:</p>
      <input type="radio" class="radio" name="gap_width" value="phone" checked="checked">
      <label for="phone">Phone</label><br>
      <input type="radio" class="radio" name="gap_width" value="computer">
      <label for="computer">Computer</label><br>
    </form>
  </div>

  <div id="buttons_div">
    <button id="sidebar_open" class ="black_button">☰ Open Sidebar</button>
    <button id="save_button" class ="black_button">Save Layout</button>
  </div>

  <div id="container">
    <div id="gallery">
      {{#if photos}}
        {{#each photos}}
          <div 
            class="photo_item_div" 
            id="{{this.name}}"
            draggable="true" ondragstart="drag(event)"
            ondrop="drop(event)" ondragover="allowDrop(event)"
          >
            <img 
              class="photo_item"
              src="{{this.url}}" alt="{{this.name}}"
            >
            <p class="window_close">X</p>
          </div>
        {{/each}}
      {{else}}
        <p id="no_photos"
           ondrop="drop(event)" 
           ondragover="allowDrop(event)">
           No Photos Available
        </p>
      {{/if}}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/update.js"></script>